body.boxed {
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}
.navF1_format{
    background-color: #fb6a19;
}
.dib .w250px{
    margin-top: 10px!important;
}
.di a{
    color: #fff;
}
.mr10px{
    color: #fff;
}
.fa-envelope{
    color: #fff!important;
}
.banner_area.f6 {
    margin-top: 0px!important;
}
.emailBtn:hover{
    color: #fb6a19!important;
    background-color: #fff;
}
.smsBtn:hover{
    color: #fb6a19!important;
    background-color: #fff;
}
.emailBtn{
    background-color: #fff2e6!important;
}
.smsBtn{
    background-color: #fff2e6!important;
}
.data{
    background-color: #fff!important;
}
.ddsmoothmenu ul li a:hover{
    background-color: #fb6a19!important;
}
.selected{
    background-color: #fb6a19!important;
}
.ddsmoothmenu ul li ul li.on > a{
    background-color: #fb6a19!important;
}
.ddsmoothmenu ul li.on:hover{
    background-color: #ceb695!important;
}
select option:hover {
    background-color: #fb6a19!important; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
  }
.hd_frmt_f6 {
    /* position: absolute; */
    left: 0px;
    right: 0px;
    z-index: 8;
    background: #fff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2)!important;
}
.hd_frmt_f6.f6 .tml_r_format {
    position: relative;
    padding: 2px 10px;
    z-index: 9;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2)!important;
}
input.button-search{
    background-color: #fb6a19!important;
    border: none;
    color: #fff;
}
input.button-search:hover{
    background-color: #fff!important;
    color: #fb6a19!important;
}
.slider-content2 {
    color: #fff;
    background: rgb(234 224 206 / 26%)!important;
}
.wrap {
    width: 1151px!important;
    margin: 0 auto;
}
/* .dt, .ac-dt > *, .acac-dt > * > * {
    display: table;
    text-align: center;
} */
.dif{
    color: #fb6a19!important;
}
.large a:hover{
    color: #fb6a19!important;
}
.di a:hover{
    color: #fff!important;
}
.tooltip{
    margin-top: 7px!important;
}
.locality-Container.bg::before {
    /* background-color: #eae0ce8c; */
    /* opacity: 0.6; */
    background: rgb(234 224 206 / 26%) !important;
}
/* a .dif{
    color: #000!important;
} */
.head-c1 {
    color: #fb6a19!important;
}
.head-c2 {
    color: #fb6a19!important;
}
.head-bdrb::before{
    display: none!important;
}
.head-bdrb::after{
    display: none!important;
}
.contact-icon{
    background-color: #fb6a19!important;
}
.mb7px a{
    color: #fb6a19!important;
}
.mb7px a:hover{
    color: #000!important;
}
input.button:hover{
    color: #fb6a19;
    border: none;
    /* background-color: #fff!important; */
}
input.button{
    background-color: #fb6a19!important;
    color: #fff;
}
.about-h1{
    text-align: center;
    font-size: 32px;
    margin-top: 20px;
}
#middle .h2 p.rHead{
    border-color: #fb6a19!important;
}
a.buttonBig{
    background-color: #fb6a19!important;
}
#bodyFormatNT.evenOdd section:nth-child(even){
    background-color: #fff2e6!important;
}
/* .fo .data .al{
    background-color: #fb6a19!important;
} */
footer{
    background-color: #000!important;
}
.add{
    color: #fff;
}

/* Property Details */

.fw6 {
    font-weight: 600;
    color: #fb6a19;
}
.searchFilter{
    margin-top: 6%;
}
.headVr {
    background-color: #fff2e6!important;
}
.theme2{
    background-color: #fb6a19!important;
}
.xxxlarge{
    color: #fb6a19!important;
}
.mohali-content-post{
    width: 100%;
    float: left;
    margin-top: 10%;
}
.mohali-post{
    width: 100%;
    float: left;
}
.hot-property{
    width: 30%;
    float: left;
}
.mohali-property-post{
    width: 70%;
    float: left;
    /* background-color: aquamarine */
}
/* Section container */
.two-row-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Row styling */
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Space between rows */
}

/* Individual box styling */
.box {
    background-color: #fff;
    border-radius: 10px;
    /* padding: 20px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 48%; /* Each box takes about half of the row width */
    text-align: center;
    transition: transform 0.3s ease;
}

/* Box hover effect */
.box:hover {
    transform: translateY(-10px);
}

/* Image styling */
.box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Title styling */
.box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

/* Content styling */
.box p {
    font-size: 1em;
    color: #666;
}
.mb5px, a.mb5px {
    /* margin-bottom: 5px; */
    margin: 10px;
}
.p-tag{
    padding: 0px 0px 15px;
}
#middle{
    width: 100%;
    display: inline-block;
}
.ofh a{
    color: #000;
}
.tcl li a {
    display: block;
    width: calc(100% - 18px);
    color: #666;
}
.thinFormat .cf_4img > ul > li {
    width: 43.9%!important;
}
.cf_4img > ul > li{
    padding: 0 10px;
    box-sizing: border-box;
    /* margin-bottom: 15px; */
    display: inline-block;
    vertical-align: top;
    margin: 0px 20px 15px!important;
}
.box-sector-property{
    background-color: #fff;
    border-radius: 10px;
    /* padding: 20px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    
}
.box-sector-property:hover{
    transform: translateY(-10px);
}
#bodyFormatNT{
    margin-top: 6%;
}
.view-details:hover{
    color: #fb6a19!important;
}
.showallspan:hover{
    color: #fb6a19;
}
.dif a{
    color: #666!important;
}
.rHead{
    color: #fff;
}
/* .xxlarge {
    color: #000000!important;
} */
/* .xxlarge:hover {
    color: #fb6a19!important;
} */